<!-- <nav class="nav-container">
    <ul>
        <li><a href="/">Home</li></a>
        <li><a href="/">Custom</li></a>
        <li><a href="/">Sedan</li></a>
        <li><a href="/">SUV</li></a>
        <li><a href="/">Truck</li></a>
    </ul>
</nav> -->

<nav class="nav-container">
    <%- nav %>
</nav>